.bottol
{
    background-color: grey;
}

.beed
{
    background-color: gray;
}
.chair
{
    background-color: gray;
}
.clock
{
    background-color: gray;
}
.fan
{
    background-color: gray;
}
.lamp
{
    background-color: gray;
}
.laptop
{
    background-color: gray;
}
.phone
{
    background-color: gray;
}
.side_table
{
    background-color: gray;
}
.study
{
    background-color: gray;
}